<div class="main-window">
    <header class="titlebar">
        <p>HelloWorld!</p>
        <nav class="titlebar-button-wrapper">
            <div class="titlebar-button"></div>
            <div class="titlebar-button"></div>
            <div class="titlebar-button"></div>
        </nav>
    </header>
    <main>
        <!-- <aside>
            <ul>Project
                <ul class="files-list"> Models
                    <li>Programmer.cs</li>
                    <li>Experience.cs</li>
                </ul>
            </ul>
        </aside> -->
        <section class="tab-content-wrapper">
            <nav class="tabs">
                <a (click)="changeCard('programmer')" class="tab" id="programmerTab">Programmer.cs</a>
                <a (click)="changeCard('about')" class="tab" id="aboutTab">AboutMe.cs</a>
                <a (click)="changeCard('job')" class="tab" id="jobTab">DreamJob.cs</a>
            </nav>
            <div class="lines-code-wrapper">
                <div class="lines-content">
                  <ng-container *ngFor="let item of linesArr; index as i">
                    <span>{{i+1}}</span>
                  </ng-container>
                </div>
                <article>
                  <pre id="code-content">
                  </pre>
                </article>
            </div>
        </section>
    </main>
    <footer>
    </footer>
</div>
