<div class="main-window">
    <header class="titlebar">
        <p>HelloWorld!</p>
        <nav class="titlebar-button-wrapper">
            <div class="titlebar-button"></div>
            <div class="titlebar-button"></div>
            <div class="titlebar-button"></div>
        </nav>
    </header>
    <main>
        <aside>
            <ul>Project
                <ul class="files-list"> Models
                    <li>Programmer.cs</li>
                    <li>Experience.cs</li>
                </ul>
            </ul>
        </aside>
        <section class="tab-content-wrapper">
            <nav class="tabs">
                <a (click)="changeCard('programmer')" class="tab" id="programmerTab">Programmer.cs</a>
                <a (click)="changeCard('experience')" class="tab" id="experienceTab">Experience.cs</a>
            </nav>
            <div class="lines-code-wrapper">
                <div class="lines-content">
                    1<br>
                    2<br>
                    3<br>
                    4<br>
                    5<br>
                </div>
                <article class="code-content" id="programmer">
                    class Programmer<br>
                    &#123;<br>
                    public string FirstName;<br>
                    public string LastName;<br>
                    public DateTime DateOfBirth;<br>
                    &#125;<br>
                </article>
                <article  class="code-content" id="experience">dupa</article>
            </div>
        </section>
    </main>
    <footer>
    </footer>
</div>