<div class="main-window">
    <header class="titlebar">
        <p>HelloWorld!</p>
        <nav class="titlebar-button-wrapper">
            <div class="titlebar-button"></div>
            <div class="titlebar-button"></div>
            <div class="titlebar-button"></div>
        </nav>
    </header>
    <main>
        <!-- <aside>
            <ul>Project
                <ul class="files-list"> Models
                    <li>Programmer.cs</li>
                    <li>Experience.cs</li>
                </ul>
            </ul>
        </aside> -->
        <section class="tab-content-wrapper">
            <nav class="tabs">
                <a (click)="changeCard('programmer')" class="tab" id="programmerTab">Programmer.cs</a>
                <a (click)="changeCard('about')" class="tab" id="aboutTab">AboutMe.cs</a>
                <a (click)="changeCard('job')" class="tab" id="jobTab">DreamJob.cs</a>
            </nav>
            <div class="lines-code-wrapper">
                <div class="lines-content">
                    1<br>
                    2<br>
                    3<br>
                    4<br>
                    5<br>
                    6<br>
                    7<br>
                    8<br>
                    9<br>
                    10<br>
                </div>
                <article class="code-content" id="programmer">
                    public Programmer SetBasicInfo()<br>
                    &#123;<br>
                    return new ProgrammerBuilder()<br>
                    .SetName('Jonasz')<br>
                    .SetSurname('Makulak')<br>
                    .SetDateOfBirth('1997-02-28')<br>
                    .SetUniversity('Uniwerystet Jagielloński, Computer Science')<br>
                    .Create();<br>
                    &#125;<br>
                </article>
                <article class="code-content" id="about">
                    public Programmer SetAdditionalInfo()<br>
                    &#123;<br>
                    return SetBasicInfo()<br>
                    .SetHobby('Playing guitar')<br>
                    .SetHobby('Home brewery')<br>
                    .SetHobby('Hitch-hiking')<br>
                    .Create();<br>
                    &#125;<br>
                </article>
                <article class="code-content" id="job">
                    public Job CreateDreamJob()<br>
                    &#123;<br>
                    return new Job()<br>
                    .AddRequirement('Dynamiczny zespół', EImportance.High)<br>
                    .AddRequirement('Owocowe środy', EImportance.Medium)<br>
                    .AddRequirement('Kartofel pod keczupem', EImportance.Low)<br>
                    .Create();<br>
                    &#125;<br>
                </article>
            </div>
        </section>
    </main>
    <footer>
    </footer>
</div>
