app-container-base {
    background-color: #d8d8d8;
    display: block;
}
.experience-list {
    width: 100%;
}

app-experience-item {
    margin: 10px;
    display: block;
}

app-experience-item ul {
    padding: 0px 20px;
    margin-bottom: 0px;
    font-size: 0.9rem;
}

@media screen and (max-device-width: 450px) {
    app-experience-item {
        margin: 0px;
    }
}

@media screen and (min-device-width: 768px) {
    app-experience-item ul {
        font-size: 1rem;
    }
}
