<app-container-base title="{{'content.experience' | translate}}">
    <div class="experience-list">

      <app-experience-item position=".NET / Angular Developer"
        companyName="Agilero"
        dates="04.2019 - 01.2021"
        imageSrc="../../../assets/pictures/agilero.png">
            <ul>
                <li translate>experience.agilero-item1</li>
                <li translate>experience.agilero-item2</li>
                <li translate>experience.agilero-item3</li>
                <li translate>experience.agilero-item4</li>
                <li translate>experience.agilero-item5</li>
            </ul>
        </app-experience-item>

        <app-experience-item position=".NET Developer"
        companyName="HUB Logistics"
        dates="08.2018 - 04.2019"
        imageSrc="../../../assets/pictures/hub-logistics.png">
            <ul>
                <li translate>experience.hub-item1</li>
                <li translate>experience.hub-item2</li>
                <li translate>experience.hub-item3</li>
            </ul>
        </app-experience-item>

        <app-experience-item position="Intern C# Developer"
        companyName="IGE+XAO"
        dates="10.2017 - 06.2018"
        imageSrc="../../../assets/pictures/ige-xao.png">
            <ul>
                <li translate>experience.ige-xao-item1</li>
                <li translate>experience.ige-xao-item2</li>
            </ul>
        </app-experience-item>
    </div>
</app-container-base>
