<app-container-base title="{{'content.contact' | translate}}" titleColor="#ffffff">
    <div class="contact-list">
        <a href="https://github.com/Makulak">
            <img alt="GithubLogo" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png">
        </a>
        <a href="https://www.linkedin.com/in/jonasz-makulak/">
            <img alt="linkedInLogo" src="../../../assets/pictures/linkedIn.png">
        </a>
    </div>
</app-container-base>
<footer>
    <p>Jonasz Makulak © - 2020</p>
</footer>