article {
    min-height: 200px;
    width: 100%;
    height: 100%;
    background-color: #010146;
    color: white;
    overflow: hidden;
}

h1 {
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 2.3rem;
    font-weight: 500;
}

.article-content {
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5%;
}

.contact-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:30px;
}

a img {
    margin: 20px;
    width: 80px;
    filter: brightness(0) invert(1);
}

footer {
    overflow: hidden;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(1, 1, 70, 1) 90%);
    min-height: 100px;
    padding-top: 40px;
}

footer p {
    color: #757575;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}