<article>
    <div class="article-content">
        <h1 translate>content.contact</h1>
        <div class="contact-list">
            <a href="https://github.com/Makulak">
                <img alt="GithubLogo" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png">
            </a>
            <a href="https://www.linkedin.com/in/jonasz-makulak/">
                <img alt="linkedInLogo" src="../../../assets/pictures/linkedIn.png">
            </a>
        </div>
    </div>
</article>
<footer>
    <p>Jonasz Makulak © - 2020</p>
</footer>