.main-header {
  left: 2%;
  right: 2%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  animation-name: main-header_anim;
  animation-duration: 2s;
}

.logo {
  width: 100%;
}

.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  list-style: none;
  flex-direction: row;
  padding: 0px;
  display: none;
}

.menu li {
  margin-right: 30px;
}

.menu-button {
  font-size: 1.1rem;
  font-weight: 300;
  color: #2c2c2c;
  background: transparent;
  border: 0px;
	text-decoration:none;
	cursor:pointer;
}

.menu-button:hover {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}

@media screen and (min-device-width: 768px) {
  .menu {
    display: flex;
    visibility: visible;
  }
  .logo {
    width: auto;
  }
  .logo img {
    display: inline;
  }
}

@media screen and (min-device-width: 1100px) {
  .main-header {
    left: 10%;
    right: 10%;
  }
}

@media screen and (min-device-width: 1280px) {
  .main-header {
    left: 20%;
    right: 20%;
  }

  .menu {
    font-size: 1.2rem;
  }
}
