<div class="main-header">
  <a class="logo">
    <img src="../../../assets/pictures/logo.png" alt="jonaszmakulak.com">
  </a>
  <nav>
    <ul class="menu">
      <li>
        <a href="#container-one" translate>navbar.home</a>
      </li>
      <li>
        <a href="#container-two" translate>navbar.about</a>
      </li>
      <li>
        <a href="#container-three" translate>navbar.experience</a>
      </li>
      <li>
        <a href="#container-four" translate>navbar.contact</a>
      </li>
    </ul>
  </nav>
</div>
