<div class="main-header">
  <a class="logo">JM</a>
  <nav>
    <ul class="menu">
      <li>
        <a class="menu-button" (click)="coreService.scrollTo('container-one')" translate>navbar.home</a>
      </li>
      <li>
        <a class="menu-button" (click)="coreService.scrollTo('container-two')" translate>navbar.about</a>
      </li>
      <li>
        <a class="menu-button" (click)="coreService.scrollTo('container-three')" translate>navbar.experience</a>
      </li>
      <li>
        <a class="menu-button" (click)="coreService.scrollTo('container-four')" translate>navbar.contact</a>
      </li>
      <li>
        <a class="menu-button" (click)="coreService.changeLanguage('en')" translate>navbar.enLanguage</a>
      </li>
      <li>
        <a class="menu-button" (click)="coreService.changeLanguage('pl')"translate>navbar.plLanguage</a>
      </li>
    </ul>
  </nav>
</div>
