article {
  background: url("../../../assets/pictures/background-2.jpg") no-repeat top fixed;
  background-size: cover;
  //filter: blur(2px) brightness(80%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 300px;
}


.container-content {

}