.wrapper {
  background: url("../../../assets/pictures/background-2.jpg") no-repeat top fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  color: white;
}

.description {
  margin-bottom: 50px;
  background-color: #00000069;
  padding: 15px;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

.technologies-list {
  columns: 2;
  list-style: none;
  padding-left: 0px;
  font-size: 1.15rem;
}

.technologies-list li {
  background-color: #00000069;
  margin: 5px;
  padding: 8px 8px 8px 18px;
}

.technologies-list li:first-child {
  margin-top: 0px;
}

@media screen and (max-device-width: 450px) {
  .technologies-list {
    columns: 1;
  }
}
