.item-wrapper {
  display: flex;
  background-color: #e0e0e0;
  flex-direction: column;
  margin: 10px 0px;
  padding: 15px;
}
.company-logo {
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.item-content {
  margin: 15px 0px;
}

h1 {
  font-size: 0.85rem;
  margin: 0px;
}

h2 {
  font-size: 0.6rem;
  margin: 3px 0px;
}

h3 {
  font-size: 0.55rem;
  margin: 0px;
}

@media screen and (max-device-width: 250px) {
  .company-logo {
    display: none;
  }
}

@media screen and (min-device-width: 768px) {
  .item-wrapper {
    flex-direction: row;
  }
  .company-logo {
    margin: 20px;
    max-width: 120px;
  }

  h1 {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 0.6rem;
  }
}
